extends ../layouts/main-inner

block main
    include ../layouts/mixins/utils.pug
    section.item-content
        .container 
            .row.m-3
                h1.font-weight-bold Edit Headquarter
            .row 
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    form(id="formulario" action=`/rooms/${room.slug}?_method=PUT` method="POST").p-4
                        .form-group.md-form
                            input(type="text", name="name" value=room.name autofocus required).form-control
                            label(for="name") Name
                        .form-group.md-form    
                            textarea(name="description" rows='3' required).md-textarea.form-control= room.description
                            label(for="description") description
                        .form-group.md-form
                            span Headquarter
                            select(name="headquarter" data-before=room.headquarterId required)#headquarters-select.custom-select
                                option(disabled) Choose option
                        .form-group.md-form
                            span Room Type
                            select(name="roomtype" data-before=room.roomtypeId required)#roomtypes-select.custom-select
                                option(disabled) Choose option
                        .form-group.md-form
                            span State
                            select(name="state" required).custom-select
                                option(disabled) Choose option
                                +last-state-select(room.state)
                        .form-group.md-form
                            button(type="submit").btn.btn-amber Edit
            .row.my-2
                .col
                    a(href='/rooms')
                        button(type="button").btn.btn-danger Cancel
            if locals.message 
                .row
                    h5.error-message #{locals.message.error}