extends ../layouts/main-inner

block main
    -let view = locals.permissions.find( item => item.place === 'rooms' );
    include ../layouts/mixins/utils.pug
    section#table-container
        .container
            .row.m-3
                h1.font-weight-bold Rooms
            .row.mt-5
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    table(cellspacing="0" width="100%")#indexTable.table.table-hover.table-sm
                        thead.black.white-text
                            tr
                                th(scope='col') ID
                                th(scope='col') Name
                                th(scope='col') Headquarter
                                th(scope='col') Room Type 
                                th(scope='col') Description
                                th(scope='col') State
                                if view.updateResource
                                    th(scope='col') Edit
                        tbody
                            each room in rooms
                                tr(data-href=`\\rooms\\${room.slug}`).clickable-row
                                    th(scope='row')= room.id 
                                    td= room.name 
                                    td= room.headquarter.name
                                    td= room.roomtype.name
                                    td= room.description
                                    td
                                        +icon-check(room.state)
                                    if view.updateResource
                                        td
                                            a(href=`\\rooms\\${room.slug}\\edit`)
                                                button(type="button").btn.btn-warning.py-1.px-2.m-0
                                                    span(aria-hidden="true").far.fa-edit  
            .row.my-2
                if view.readResource
                    .col
                        button(type="button" onClick="exportCSVFile('rooms')").btn.btn-amber.btn-lg Export .CSV
                if view.createResource
                    .col
                        a(href="/rooms/new")
                            button(type="button").btn.btn-success.btn-lg.float-right New Room
            //message
            if locals.message
                .row
                    h5.error-message #{locals.message.error}