extends ../layouts/main-inner

block main
    section.item-content
        .container 
            .row.m-3
                h1.font-weight-bold New Room
            .row 
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    form(action="/rooms" method="POST").p-4.md-form
                        .form-group.md-form
                            input(type="text", name="name" required autofocus).form-control
                            label(for="name") Name 
                        .form-group.md-form
                            textarea(name="description" rows="3" required).md-textarea.form-control
                            label(for="description") Description   
                        .form-group.md-form
                            span Headquarter
                            select(name="headquarter" required)#headquarters-select.custom-select
                                option(disabled) Choose option
                        .form-group.md-form
                            span Room Type
                            select(name="roomtype" required)#roomtypes-select.custom-select
                                option(disabled) Choose option
                        .form-group.md-form
                            button(type="submit").btn.btn-success Create
            .row.my-2
                .col
                    a(href='/rooms')
                        button(type="button").btn.btn-danger Cancel
            //message
            if locals.message
                .row 
                    h5.error-message #{locals.message.error}
