extends ../layouts/main-inner

block main
        -let view = locals.permissions.find( item => item.place === 'rooms' );
        include ../layouts/mixins/utils.pug
        section.item-content
                .container
                        .row.m-3
                                h1.font-weight-bold Room
                        .row.mt-5
                                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                                        h2.ms-5 Details
                                        div.item-content
                                                ul.list-group.py-3
                                                        li.list-group-item #[strong ID:] #{room.id}
                                                        li.list-group-item #[strong Name:] #{room.name}
                                                        li.list-group-item #[strong Headquarter:] #{room.headquarter.name}
                                                        li.list-group-item #[strong Room Type:] #{room.roomtype.name}
                                                        li.list-group-item #[strong Description:] #{room.description}
                                                        li.list-group-item #[strong State: ]
                                                                +icon-check(room.state)
                                                        li.list-group-item #[strong Created At:] #{room.createdAt}
                                                        li.list-group-item #[strong Updated At:] #{room.updatedAt}
                                                if view.updateResource
                                                        a(href=`\\rooms\\${room.slug}\\edit`)
                                                                button(type="button").btn.btn-warning.btn-lg.py-2.float-right Edit
                        .row.mb-5
                                .col
                                        button(onclick="window.location.href='/rooms'" type="button").btn.btn-success.btn-lg.btn-block Back
                        //message
                        if locals.message
                                .row
                                        h5.error-message #{locals.message.error}