doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    - var title = vtitle || "InBirdtary"
    title #{title}
    link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/img/favicon.ico" type="image/x-icon")
    //Style CSS
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap")
    //link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Pacifico&display=swap")


    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/mdb.min.css")
    link(rel="stylesheet" href="/css/style.css")
    link(rel='stylesheet' href='/css/external-views.css')
    link(rel='stylesheet' href='/css/main.css')
  body

    block main
    //SCRIPTS JS    
    script(type="text/javascript" src="/js/jquery.min.js")
    //script(type="text/javascript" src="/js/popper.min.js")
    script(type="text/javascript" src="/js/bootstrap.min.js")
    script(type="text/javascript" src="/js/mdb.min.js")

    //Footer
    include includes/footer.pug