extends layouts/main-inner

block main
  section.item-content
    .container
        .row.mx-auto
            img(src="/img/access-denied.svg").img-fluid
        .row.mx-auto
            h4.font-weight-bold You don't currently have permission to access this view
        .row
            if message
                h5.text-center.error-message #{message}