extends layouts/main-inner

block main
  section.item-content
    .container
      .row.m-3
        .col
          h1.text-center.font-weight-bold Error #{error.status}
      .row.mt-5
        .col.shadow-lg.p-3.mb-3.bg-white.rounded
          h2 Description
          a(href="javascript:window.history.back();")
            p= message
            span Back
          h2 Stack
          code= error.stack
