extends layouts/main-inner

block main
  section.item-content
    .container
      .row.m-3
        h1.text-center.font-weight-bold= title
      .row.mt-5
        .col.shadow-lg.p-3.mb-3.bg-white.rounded
          h2 Bienvenido #{name}!
