/* --------------------------------------------------
:: Forms Outer Section
-------------------------------------------------- */
#form-container {
	padding-top: 50px
}
#form-container h1 {
	/* color: #1fa67b; */
	color: #507DF2;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 20px;
}
#form-container .form-group {
	margin-bottom: 20px;
}
#form-container .btn.btn-custom {
	font-size: 14px;
	margin-bottom: 20px;
}
#form-container .link {
	font-size: 13px;
	text-align: center;
	display: block;
}