/*--------------------------------------------------
:: General
-------------------------------------------------- */
/**{
  margin: 0;
  padding: 0;
}*/

a{color: #00B7FF;}

.text-white{color: white;}

.theme-color-app{
    background-color: #507DF2;
}

.bg-grandient-app{
    background: rgb(80,125,242);
    background: linear-gradient(90deg, rgba(80,125,242,1) 0%, rgba(136,24,210,1) 60%);
}
.bg-color-app{
    background-color: #F1F2F2;
}

h5.error-message{
    color: rgb(180, 45, 45);
}

/* --------------------------------------------------
:: Inputs & Buttons
-------------------------------------------------- */
.form-control {
	color: #212121;
}
.btn-custom {
	color: #fff;
	/*background-color: #1fa67b;*/
	background-color: #507DF2;
}
.btn-custom:hover,
.btn-custom:focus {
	color: #fff;
}

.item-content{
	margin: auto;
	width: 75%;
}

/*--------------------------------------------------
:: Footer
-------------------------------------------------- */
#footer {
	color: #6d6d6d;
	font-size: 12px;
	text-align: center;
}
#footer p {
	margin-bottom: 0;
}
#footer a {
	color: inherit;
}

/*--------------------------------------------------
:: Media Query
-------------------------------------------------- */

@media print{
	/* Hide All Body Content*/
	body * {
		visibility: hidden;
	}

	/*Then display print container elements*/
	.print-container, .print-container * {
		visibility: visible;
	}

	/*Adjust position to always start from top left*/
	.print-container{
		position: absolute;
		left: 0px;
		top: 0px;
	}
}