extends ../layouts/main-inner

block main
    include ../layouts/mixins/utils.pug
    section.item-content
        .container 
            .row.m-3
                h1.font-weight-bold Edit Authorized Actions
            .row 
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    form(id="formulario" action=`/authorizedactions/${authorizedAction.id}?_method=PUT` method="POST").p-4
                        .form-group.md-form
                            span Role 
                            select(name="role" data-before=authorizedAction.roleId required)#roles-select.custom-select
                                option(disabled) Choose option
                        .form-group.md-form
                            span Authorization
                            select(name="authorization" data-before=authorizedAction.authorizationId required)#authorizations-select.custom-select
                                option(disabled) Choose option
                        .form-group.md-form
                            span Read
                            select(name="read" required).custom-select
                                option(disabled) Choose option
                                +last-state-select(authorizedAction.readResource)
                        .form-group.md-form
                            span Create
                            select(name="create" required).custom-select
                                option(disabled) Choose option
                                +last-state-select(authorizedAction.createResource)
                        .form-group.md-form
                            span Update
                            select(name="update" required).custom-select
                                option(disabled) Choose option
                                +last-state-select(authorizedAction.updateResource)
                        .form-group.md-form
                            span Delete
                            select(name="delete" required).custom-select
                                option(disabled) Choose option
                                +last-state-select(authorizedAction.deleteResource)
                        .form-group
                            button(type="submit").btn.btn-amber Edit
            .row.my-2
                .col
                    a(href='/authorizedactions')
                        button(type="button").btn.btn-danger Cancel
            //message
            if locals.message 
                .row
                    h5.error-message #{locals.message.error}