extends ../layouts/main-inner

block main
    -let view = locals.permissions.find( item => item.place === 'authorizedactions' );
    include ../layouts/mixins/utils.pug
    section#table-container
        .container
            .row.m-3
                h1.text-center.font-weight-bold Authorized Actions
            .row.mt-5
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    table(cellspacing="0" width="100%")#indexTable.table.table-hover.table-sm
                        thead.black.white-text
                            tr
                                th(scope='col') ID
                                th(scope='col') Role
                                th(scope='col') Authorization
                                th(scope='col') Read
                                th(scope='col') Create
                                th(scope='col') Update
                                th(scope='col') Delete
                                if view.updateResource
                                    th(scope='col') Edit
                        tbody
                            each authorizedAction in authorizedActions
                                tr(data-href=`\\authorizedactions\\${authorizedAction.id}`).clickable-row
                                    th(scope='row')= authorizedAction.id
                                    td= authorizedAction.role.name
                                    td= authorizedAction.authorization.name
                                    td
                                        +icon-check(authorizedAction.readResource)
                                    td
                                        +icon-check(authorizedAction.createResource)
                                    td
                                        +icon-check(authorizedAction.updateResource)
                                    td  
                                        +icon-check(authorizedAction.deleteResource)
                                    if view.updateResource
                                        td
                                            a(href=`\\authorizedactions\\${authorizedAction.id}\\edit`)
                                                button(type="button").btn.btn-warning.py-1.px-2.m-0
                                                    span(aria-hidden="true").far.fa-edit            
            .row.my-2
                if view.readResource
                    .col
                        button(type="button" onClick="exportCSVFile('authorizedactions')").btn.btn-amber.btn-lg Export .CSV
                if view.createResource
                    .col
                        a(href="/authorizedactions/new")
                        button(type="button").btn.btn-success.btn-lg.float-right New Authorized Actions
            //message
            if locals.message
                .row
                    h5.error-message #{locals.message.error}