extends ../layouts/main-inner

block main
    section.item-content
        .container 
            .row.m-3
                h1.font-weight-bold New Authorized Actions
            .row 
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    form(action="/authorizedactions" method="POST").p-4
                        .form-group.md-form
                            span Role 
                            select(name="role" required)#roles-select.custom-select
                                option(disabled) Choose option
                        .form-group.md-form
                            span Authorization
                            select(name="authorization" required)#authorizations-select.custom-select
                                option(disabled) Choose option
                        .form-group.md-form
                            span Read
                            select(name="read" required).custom-select
                                option(disabled) Choose option
                                option(value="true" selected) Enable
                                option(value="false") Disabled
                        .form-group.md-form
                            span Create
                            select(name="create" required).custom-select
                                option(disabled) Choose option
                                option(value="true" selected) Enable
                                option(value="false") Disabled
                        .form-group.md-form
                            span Update
                            select(name="update" required).custom-select
                                option(disabled) Choose option
                                option(value="true" selected) Enable
                                option(value="false") Disabled
                        .form-group.md-form
                            span Delete
                            select(name="delete" required).custom-select
                                option(disabled) Choose option
                                option(value="true" selected) Enable
                                option(value="false") Disabled
                        .form-group
                            button(type="submit").btn.btn-success Create
            .row.my-2
                .col
                    a(href='/authorizedactions')
                        button(type="button").btn.btn-danger Cancel
            //message
            if locals.message
                .row 
                    h5.error-message #{locals.message.error}