extends ../layouts/main-inner

block main
        -let view = locals.permissions.find( item => item.place === 'departments' );
        include ../layouts/mixins/utils.pug
        section.item-content
                .container
                        .row.m-3
                                h1.font-weight-bold Authorized Actions
                        .row.mt-5
                                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                                        h2.ms-5 Details permissions
                                        div.item-content
                                                ul.list-group.py-3
                                                        // Create, Read, Update and Delete
                                                        li.list-group-item #[strong ID:] #{authorizedAction.id}
                                                        li.list-group-item #[strong Role:] #{authorizedAction.role.name}
                                                        li.list-group-item #[strong Authorization:] #{authorizedAction.authorization.name}
                                                        li.list-group-item #[strong Read: ] 
                                                                +icon-check(authorizedAction.readResource)
                                                        li.list-group-item #[strong Create: ] 
                                                                +icon-check(authorizedAction.createResource)
                                                        li.list-group-item #[strong Update: ] 
                                                                +icon-check(authorizedAction.updateResource)
                                                        li.list-group-item #[strong Delete: ] 
                                                                +icon-check(authorizedAction.deleteResource)
                                                        li.list-group-item #[strong Create at:] #{authorizedAction.createdAt}
                                                        li.list-group-item #[strong Update at:] #{authorizedAction.updatedAt}
                                                if view.updateResource
                                                        a(href=`\\authorizedactions\\${authorizedAction.id}\\edit`)
                                                                button(type="button").btn.btn-warning.btn-lg.py-2.float-right Edit
                        .row.mb-5
                                .col
                                        button(onclick="window.location.href='/authorizedactions'" type="button").btn.btn-success.btn-lg.btn-block Back
                        //message
                        if locals.message
                                .row
                                        h5.error-message #{locals.message.error}