extends ../layouts/main-inner

block main
    section.item-content
        .container 
            .row.m-3
                h1.font-weight-bold New Role
            .row 
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    form(action="/roles" method="POST").p-4
                        .form-group.md-form
                            input(type="text", name="name" required autofocus).form-control
                            label(for="name") Name
                        .form-group
                            button(type="submit").btn.btn-success Create
            .row.my-2
                .col
                    a(href='/roles')
                        button(type="button").btn.btn-danger Cancel
            //message
            if locals.message
                .row
                    h5.text-center.error-message #{locals.message.error}