extends ../layouts/main-inner

block main
    -let view = locals.permissions.find( item => item.place === 'roles' );
    section.item-content
        .container
            .row.m-3
                h1.font-weight-bold Roles
            .row.mt-5
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    h2.ms-5 Details
                    div.item-content
                        ul.list-group.py-3
                                li.list-group-item #[strong ID:] #{role.id}
                                li.list-group-item #[strong Name:] #{role.name}
                                li.list-group-item #[strong Create at:] #{role.createdAt}
                                li.list-group-item #[strong Update at:] #{role.updatedAt}
                        if view.updateResource
                            a(href=`\\roles\\${role.id}\\edit`)
                                button(type="button").btn.btn-warning.btn-lg.py-2.float-right Edit
            .row.mb-5
                .col
                    button(onclick="window.location.href='/roles'" type="button").btn.btn-success.btn-lg.btn-block Back
            //message
            if locals.message
                .row
                    h5.error-message #{locals.message.error}