extends ../layouts/main-outer

block main
    section#form-container
            .container
                .row.m-5
                    .col-xs-12.col-md-4.offset-md-4.col-sm-6.offset-sm-3.bg-white.rounded.shadow
                        img(src="/img/logo1.png").img-fluid
                        h1.text-center Reset Password 
                        form(id='f-signin', action=`/accounts/reset/${token}`, method='POST')
                            .form-group.md-form
                                input(type='password', name='password' class='form-control', required)
                                label(for="password") Password
                            .form-group
                                span#passwordHelpInline.form-text Must be 8-20 characters long.
                            button(type="submit" id="btn-login" class="btn btn-custom btn-lg") Reset!
                //message
                if locals.message
                    .row
                        .col.text-center
                            h5.error-message #{locals.message.error}