extends ../layouts/main-inner

block main
    -let view = locals.permissions.find( item => item.place === 'logs' );
    section#table-container
        .container
            .row.m-3
                h1.font-weight-bold Logs
            .row.mt-5
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    table(cellspacing="0" width="100%")#indexTable.table.table-hover.table-sm
                        thead.black.white-text
                            tr
                                th(scope='col') ID
                                th(scope='col') Action
                                th(scope='col') Created At
                        tbody
                            each log in logs
                                tr(data-href=`\\logs\\${log.id}`).clickable-row
                                    th(scope='row')= log.id
                                    td= log.action
                                    td= new Intl.DateTimeFormat('en-US').format(log.createdAt)
            .row.my-2
                if view.readResource
                    .col
                        button(type="button" onClick="exportCSVFile('logs')").btn.btn-amber.btn-lg Export .CSV
                if view.deleteResource
                    .col
                        form(action='/logs?_method=DELETE' method="POST" onsubmit="return confirm('Do you really want delete logs?');")
                            button(type="submit").btn.btn-danger.btn-lg.float-right Clear Logs
            //message
            if locals.message
                .row
                    h5.error-message #{locals.message.error}