extends ../layouts/main-inner

block main
    -let view = locals.permissions.find( item => item.place === 'logs' );
    section.item-content
        .container
            .row.m-3
                h1.font-weight-bold Log
            .row.mt-5
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    h2.ms-5 Details
                    div.item-content
                        ul.list-group.py-3
                            li.list-group-item #[strong ID:] #{log.id}
                            li.list-group-item #[strong Action:] #{log.action}
                            li.list-group-item #[strong Create at:] #{log.createdAt}
            .row.mb-5
                .col
                    button(onclick="window.location.href='/logs'" type="button").btn.btn-success.btn-lg.btn-block Back
            //message
            if locals.message
                .row
                    h5.error-message #{locals.message.error}