//Footer Section
footer#footer.page-footer
	.container 
		.row 
			.col-xs-12.col-md-12
				img(src="/img/icono2.png" class="img-fluid" width="100")
				hr
				p inBirdtary © - 2021
				p Powered by 
					strong
						a(href="https://gitlab.com/AntoBlanco" target="_blank") - AntoBlanco: 
							span.fab.fa-gitlab