//Navbar Section
nav#navbar.navbar.navbar-expand-lg.navbar-dark.theme-color-app
    div.container-fluid
        a(href="#").navbar-brand.ms-md-5
            img(src="/img/logo2.png", alt="", width="150")
        button(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
            span.fas.fa-bars
        div#navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto.px-1
                if locals.permissions
                    each permission in locals.permissions
                        li.nav-item
                            a(href="/"+permission.place aria-current="page").nav-link #{permission.name}
                li.nav-item.dropdown
                    a(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").nav-link.dropdown-toggle
                        span.fas.fa-user
                    div(aria-labelledby="navbarDropdown").dropdown-menu.dropdown-menu-right.dropdown-default
                        a(href=`/users/${locals.currentUser.id}`).dropdown-item #{locals.currentUser.name}
                        .dropdown-divider
                        a(href="/sessions/signout").dropdown-item Sign Out