extends ../layouts/main-inner

block main
    include ../layouts/mixins/utils.pug
    section.item-content
        .container 
            .row.m-3
                h1.font-weight-bold Edit Department
            .row 
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    form(id="formulario" action=`/departments/${department.slug}?_method=PUT` method="POST").p-4
                        .form-group.md-form
                            input(type="text" name="name" value=department.name required autofocus).form-control
                            label(for="name") Name
                        .form-group.md-form
                            input(type="text" name="leaderName" value=department.leaderName required).form-control
                            label(for="leaderName") Leader Name
                        .form-group.md-form
                            //state
                            span State
                            select(name="state").custom-select
                                option(disabled) Choose option
                                +last-state-select(department.state)
                        .form-group
                            button(type="submit").btn.btn-amber Edit
            .row.my-2
                .col
                    a(href='/departments')
                        button(type="button").btn.btn-danger Cancel
            //message
            if locals.message 
                .row
                    h5.error-message #{locals.message.error}
