extends ../layouts/main-inner

block main
    -let view = locals.permissions.find( item => item.place === 'departments' );
    include ../layouts/mixins/utils.pug
    section#table-container
        .container
            .row.m-3
                h1.font-weight-bold Departments
            .row.mt-5
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    table(cellspacing="0" width="100%")#indexTable.table.table-hover.table-sm
                        thead.black.white-text
                            tr
                                th(scope='col') ID
                                th(scope='col') Name
                                th(scope='col') Leader Name
                                th(scope='col') State
                                if view.updateResource
                                    th(scope='col') Edit
                        tbody
                            each department in departments
                                tr(data-href=`\\departments\\${department.slug}`).clickable-row
                                    th(scope='row')= department.id
                                    th= department.name
                                    td= department.leaderName
                                    td
                                        +icon-check(department.state)
                                    if view.updateResource
                                        td
                                            a(href=`\\departments\\${department.slug}\\edit`)
                                                button(type="button").btn.btn-warning.py-1.px-2.m-0
                                                    span(aria-hidden="true").far.fa-edit
            .row.my-2
                if view.readResource
                    .col
                        button(type="button" onClick="exportCSVFile('departments')").btn.btn-amber.btn-lg Export .CSV
                if view.createResource
                    .col
                        a(href='/departments/new')
                            button(type="button").btn.btn-success.btn-lg.float-right New Department
            //message
            if locals.message
                .row
                    h5.error-message #{locals.message.error}