mixin icon-check(state)
    if state
        span.far.fa-check-circle.text-success.font-weight-bold.h4.m-0
    else
        span.far.fa-times-circle.text-danger.font-weight-bold.h4.m-0
mixin last-state-select(state)
    if state
        option(value="true" selected) Enable
        option(value="false") Disabled
    else
        option(value="true") Enable
        option(value="false" selected) Disabled
