extends ../layouts/main-inner

block main
    section.item-content
        .container 
            .row.m-3
                h1.font-weight-bold Edit Authorization
            .row 
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    form(id="formulario" action=`/authorizations/${authorization.id}?_method=PUT` method="POST").p-4
                        .form-group.md-form
                            input(type="text", name="name" value=authorization.name required autofocus).form-control
                            label(for="name") Name
                        .form-group.md-form
                            input(type="text", name="place" value=authorization.place required).form-control
                            label(for="place") Place resource '/'
                        .form-group
                            button(type="submit").btn.btn-amber Edit
            .row.my-2
                .col
                    a(href='/authorizations')
                        button(type="button").btn.btn-danger Cancel
            //message
            if locals.message 
                .row
                    h5.error-message #{locals.message.error}
