extends ../layouts/main-inner

block main
    -let view = locals.permissions.find( item => item.place === 'authorizations' );
    section#table-container
        .container
            .row.m-3
                h1.font-weight-bold Authorizations
            .row.mt-5
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    table(cellspacing="0" width="100%")#indexTable.table.table-hover.table-sm
                        thead.black.white-text
                            tr
                                th(scope='col') Id
                                th(scope='col') Name
                                th(scope='col') Resource
                                if view.updateResource
                                    th(scope='col') Edit
                        tbody
                            each authorization in authorizations
                                tr(data-href=`\\authorizations\\${authorization.id}`).clickable-row
                                    th(scope='row')= authorization.id
                                    td= authorization.name
                                    td= "/"+authorization.place
                                    if view.updateResource
                                        td
                                            a(href=`\\authorizations\\${authorization.id}\\edit`)
                                                    button(type="button").btn.btn-warning.py-1.px-2.m-0
                                                        span(aria-hidden="true").far.fa-edit
            .row.my-2
                if view.readResource
                    .col
                        button(type="button" onClick="exportCSVFile('authorizations')").btn.btn-amber.btn-lg Export .CSV
                if view.createResource
                    .col
                        a(href='/authorizations/new')
                            button(type="button").btn.btn-success.btn-lg.float-right New Authorization
            //message
            if locals.message
                .row
                    h5.error-message #{locals.message.error}