extends ../layouts/main-inner

block main
    section.item-content
        .container 
            .row.m-3
                h1.font-weight-bold New Authorization
            .row 
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    form(action="/authorizations" method="POST").p-4
                        .form-group.md-form
                            label(for="name") Name
                            input(type="text", name="name" required autofocus).form-control
                        .form-group.md-form
                            label(for="place") Place resource '/'
                            input(type="text", name="place" required).form-control
                        .form-group
                            button(type="submit").btn.btn-success Create
            .row.my-2
                .col
                    a(href='/authorizations')
                        button(type="button").btn.btn-danger Cancel
            //message
            if locals.message
                .row 
                    h5.error-message #{locals.message.error}