extends ../layouts/main-inner

block main
    include ../layouts/mixins/utils.pug
    section.item-content
        .container 
            .row.m-3
                h1.font-weight-bold Edit Room Type 
            .row 
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    form(id="formulario" action=`/roomtypes/${roomtype.slug}?_method=PUT` method="POST").p-4
                        .form-group.md-form
                            input(type="text", name="name" value=roomtype.name required autofocus).form-control
                            label(for="name") Name
                        .form-group.md-form
                            span State
                            select(name="state" required).custom-select
                                option(disabled) Choose option
                                +last-state-select(roomtype.state)
                        .form-group
                            button(type="submit").btn.btn-amber Edit
            .row.my-2
                .col
                    a(href='/roomtypes')
                        button(type="button").btn.btn-danger Cancel
            //message
            if locals.message 
                .row
                    h5.error-message #{locals.message.error}