extends ../layouts/main-outer
block main	
	section#form-container
		.container
			.row
				.col-xs-12.col-md-4.offset-md-4.col-sm-6.offset-sm-3
					img(src="/img/logo1.png").img-fluid
					h1 Log in your account
					form(action='/sessions/signin' method='POST')#f-signin
						.form-group.md-form
							input(type='text', name='username' class='form-control',required, autofocus)
							label(for="username") Username 
						.form-group.md-form
							input(type='password', name='password' class='form-control', required)
							label(for="password") Password
						.form-group
							button(type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block") Log In
					a(href="javascript:{}" class="link" data-toggle="modal" data-target="#forget-modal") Forgot your password?
					hr
					a(href="/sessions/signup" class="link") Sign Up
					hr
			span.clearfix
			//message
			if message	
				.row
					.col.text-center
						h5.error-message #{message}

	div(tabindex="-1" role="dialog" aria-labelledby="ForgetModalLabel" aria-hidden="true")#forget-modal.modal.fade
		div(role="document").modal-dialog.modal-md
			form(action='/accounts/forget' method='POST').modal-content.form-signin
				.modal-header
					h4#ForgetModalLabel.modal-tittle Recovery Password
					button(type="button" data-dismiss="modal" aria-label="Close" class="close")
						span(aria-hidden="true").fas.fa-times
				.modal-body
					p Type your User Account 
					.md-form
						label(for="username") Username
						input(type="text" name="username" id="recovery-user" class="form-control" autocomplete="off" required)
				.modal-footer 
					button(type="button" class="btn btn-secondary" data-dismiss="modal") Cancel
					button(type="submit" class="btn btn-custom") Recovery
