extends ../layouts/main-outer

block main
	section#form-container
		.container
			.row
				.col-xs-12.col-md-4.offset-md-4.col-sm-6.offset-sm-3
					img(src="/img/logo1.png" class="img-fluid" alt="...")
					h1 Registration Details
					form(id='f-signin', action='/sessions/signup', method='POST')
						.form-group.md-form
							input(type='text' name='username' class='form-control' required autofocus)
							label(for="username") Username 
						.form-group.md-form
							input(type='password' name='password' class='form-control' required)
							label(for="password") Password
						.form-group.md-form
							input(type='email' name='email' class='form-control' required)
							label(for="email") Email
						.form-group.md-form
							input(type='text' name='name' class='form-control' required)
							label(for="name") Name
						.form-group
							button(type="submit" id="btn-login" class="btn btn-custom btn-block") Sign Up!
					a(href="/sessions/signin" class="link") Sign In
					hr
			//message
			if message
				.row
					.col.text-center
						h5.error-message #{message}