extends ../layouts/main-inner

block main
    include ../layouts/mixins/utils.pug
    section.item-content
        .container 
            .row.m-3
                h1.font-weight-bold Edit User
            .row 
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    form(id="formulario" action=`/users/${user.id}?_method=PUT` method="POST").p-4
                        .form-group.md-form
                            input(type="text" name="name" value=user.name required autofocus).form-control
                            label(for="name") Name
                        .form-group.md-form
                            input(type="text", name="username" value=user.username required).form-control
                            label(for="username") Username
                        .form-group.md-form
                            input(type="password" name="password" required).form-control
                            label(for="password") Password
                        .form-group.md-form
                            input(type="email", name="email" value=user.email required).form-control
                            label(for="email") Email
                        .form-group.md-form
                            span Department
                            select(name="department" data-before=user.departmentId required)#departments-select.custom-select
                                option(disabled) Choose option
                        .form-group.md-form
                            span Role 
                            select(name="role" data-before=user.roleId required)#roles-select.custom-select
                                option(disabled) Choose option
                        .form-group.md-form
                            span State
                            select(name="state" required).custom-select
                                option(disabled) Choose option
                                +last-state-select(user.state)
                        .form-group.md-form
                            span Admin
                            select(name="admin" required).custom-select
                                option(disabled) Choose option
                                +last-state-select(user.admin)
                        .form-group
                            button(type="submit").btn.btn-amber Edit
            .row.my-2
                .col
                    a(href='/users')
                        button(type="button").btn.btn-danger Cancel
            //message
            if locals.message 
                .row
                    h5.error-message #{locals.message.error}