extends ../layouts/main-inner

block main
    -let view = locals.permissions.find( item => item.place === 'users' );
    include ../layouts/mixins/utils.pug
    section#table-container
        .container
            .row.m-3
                h1.font-weight-bold Users
            .row.mt-5
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    table(cellspacing="0" width="100%")#indexTable.table.table-hover.table-sm
                        thead.black.white-text
                            tr
                                th(scope='col') Username
                                th(scope='col') Name
                                th(scope='col') Email
                                th(scope='col') State
                                if view.updateResource
                                    th(scope='col') Edit
                        tbody
                            each user in users
                                tr(data-href=`\\users\\${user.id}`).clickable-row
                                    th(scope='row')= user.username
                                    td= user.name
                                    td= user.email
                                    td 
                                        +icon-check(user.state)
                                    if view.updateResource
                                        td
                                            a(href=`\\users\\${user.id}\\edit`)
                                                button(type="button").btn.btn-warning.py-1.px-2.m-0
                                                    span(aria-hidden="true").far.fa-edit
            .row.my-2
                if view.readResource
                    .col
                        button(type="button" onClick="exportCSVFile('users')").btn.btn-amber.btn-lg Export .CSV
                if view.createResource
                    .col
                        a(href="/users/new")
                            button(type="button").btn.btn-success.btn-lg.float-right New User
            //message
            if locals.message
                .row
                    h5.error-message #{locals.message.error}