extends ../layouts/main-inner

block main
    section.item-content
        .container 
            .row.m-3
                h1.font-weight-bold New User
            .row 
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    form(action="/users" method="POST").p-4
                        .form-group.md-form
                            input(type="text" name="name" required autofocus).form-control
                            label(for="name") Name
                        .form-group.md-form
                            input(type="text", name="username" required).form-control
                            label(for="username") Username
                        .form-group.md-form
                            input(type="password", name="password" required).form-control
                            label(for="password") Password
                        .form-group.md-form
                            input(type="email", name="email" required).form-control
                            label(for="email") Email
                        .form-group.md-form
                            span Department
                            select(name="department" required)#departments-select.custom-select
                                option(disabled) Choose option
                        .form-group.md-form
                            span Role 
                            select(name="role" required)#roles-select.custom-select
                                option(disabled) Choose option
                        .form-group.md-form
                            span Admin
                            select(name="admin").custom-select
                                option(disabled) Choose option
                                option(value="true" selected) Enable
                                option(value="false") Disabled
                        .form-group
                            button(type="submit").btn.btn-success Create
            .row.my-2
                .col
                    a(href='/users')
                        button(type="button").btn.btn-danger Cancel
            //message
            if locals.message
                .row 
                    h5.error-message #{locals.message.error}