extends ../layouts/main-inner

block main
        -let view = locals.permissions.find( item => item.place === 'departments' );
        include ../layouts/mixins/utils.pug
        section.item-content
                .container
                        .row.m-3
                            h1.font-weight-bold User
                        .row.mt-5
                            .col.shadow-lg.p-3.mb-3.bg-white.rounded
                                    h2.ms-5 Details
                                    div.item-content
                                            ul.list-group.py-3
                                                li.list-group-item #[strong ID:] #{user.id}
                                                li.list-group-item #[strong Username:] #{user.username}
                                                li.list-group-item #[strong Name:] #{user.name}
                                                li.list-group-item #[strong Email:] #{user.email}
                                                li.list-group-item #[strong State:] 
                                                    +icon-check(user.state)
                                                li.list-group-item #[strong Departamento:] #{user.department.name}
                                                li.list-group-item #[strong Role:] #{user.role.name}
                                                li.list-group-item #[strong Create at:] #{user.createdAt}
                                                li.list-group-item #[strong Update at:] #{user.updatedAt}
                                            if view.updateResource
                                                a(href=`\\users\\${user.id}\\edit`)
                                                        button(type="button").btn.btn-warning.btn-lg.py-2.float-right Edit
                        .row.mb-5
                                .col
                                        button(onclick="window.location.href='/users'" type="button").btn.btn-success.btn-lg.btn-block Back
                        //message
                        if locals.message
                                .row
                                        h5.error-message #{locals.message.error}
