extends ../layouts/main-inner

block main
    include ../layouts/mixins/utils.pug
    section.item-content
        .container 
            .row.m-3
                h1.font-weight-bold Edit Headquarter
            .row 
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    form(id="formulario" action=`/headquarters/${headquarter.slug}?_method=PUT` method="POST").p-4
                        .form-group.md-form
                            input(type="text", name="name" value=headquarter.name).form-control
                            label(for="name") Name
                        .form-group.md-form
                            input(type="text", name="address" value=headquarter.address).form-control
                            label(for="address") Address
                        .form-group.md-form
                            input(type="text", name="city" value=headquarter.city).form-control
                            label(for="city") City
                        .form-group.md-form
                            input(type="text", name="country" value=headquarter.country).form-control
                            label(for="country") Country
                        .form-group.md-form
                            span State
                            select(name="state" required).custom-select
                                option(disabled) Choose option
                                +last-state-select(headquarter.state)
                        .form-group.md-form
                            button(type="submit").btn.btn-amber Edit
            .row.my-2
                .col
                    a(href='/headquarters')
                        button(type="button").btn.btn-danger Cancel
            //message
            if locals.message 
                .row
                    h5.error-message #{locals.message.error}