extends ../layouts/main-inner

block main
    -let view = locals.permissions.find( item => item.place === 'headquarters' );
    include ../layouts/mixins/utils.pug
    section#table-container
        .container
            .row.m-3
                h1.font-weight-bold Headquarters
            .row.mt-5
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    table(cellspacing="0" width="100%")#indexTable.table.table-hover.table-sm
                        thead.black.white-text
                            tr
                                th(scope='col') ID
                                th(scope='col') Name
                                th(scope='col') Address
                                th(scope='col') City
                                th(scope='col') Country
                                th(scope='col') State
                                if view.updateResource
                                    th(scope='col') Edit
                        tbody
                            each headquarter in headquarters
                                tr(data-href=`\\headquarters\\${headquarter.slug}`).clickable-row
                                    th(scope='row')= headquarter.id
                                    td= headquarter.name
                                    td= headquarter.address
                                    td= headquarter.city
                                    td= headquarter.country
                                    td
                                        +icon-check(headquarter.state)
                                    if view.updateResource
                                        td
                                            a(href=`\\headquarters\\${headquarter.slug}\\edit`)
                                                button(type="button").btn.btn-warning.py-1.px-2.m-0
                                                        span(aria-hidden="true").far.fa-edit  
            .row.my-2
                if view.readResource
                    .col
                        button(type="button" onClick="exportCSVFile('headquarters')").btn.btn-amber.btn-lg Export .CSV
                if view.createResource
                    .col
                        a(href="/headquarters/new")
                            button(type="button").btn.btn-success.btn-lg.float-right New Headquarter
            //message
            if locals.message
                .row
                    h5.error-message #{locals.message.error}