extends ../layouts/main-inner

block main
    section.item-content
        .container 
            .row.m-3
                h1.font-weight-bold New Authorized Actions
            .row 
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    form(action="/headquarters" method="POST").p-4
                        .form-group.md-form
                            input(type="text", name="name" required autofocus).form-control
                            label(for="name") Name 
                        .form-group.md-form
                            input(type="text", name="address" required).form-control
                            label(for="addreess") Address
                        .form-group.md-form
                            input(type="text", name="city" required).form-control
                            label(for="city") City
                        .form-group.md-form
                            input(type="text", name="country" required).form-control
                            label(for="country") Country
                        .form-group.md-form
                            button(type="submit").btn.btn-success Create
            .row.my-2
                .col
                    a(href='/headquarters')
                        button(type="button").btn.btn-danger Cancel
            //message
            if locals.message
                .row 
                    h5.error-message #{locals.message.error}
