extends ../layouts/main-inner

block main
        -let view = locals.permissions.find( item => item.place === 'rooms' );
        include ../layouts/mixins/utils.pug
        section.item-content
                .container
                        .row.m-3
                                h1.font-weight-bold Headquarter
                        .row.mt-5
                                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                                        h2.ms-5 Details
                                        div.item-content
                                                ul.list-group.py-3
                                                        li.list-group-item #[strong ID:] #{headquarter.id}
                                                        li.list-group-item #[strong Name:] #{headquarter.name}
                                                        li.list-group-item #[strong Address:] #{headquarter.address}
                                                        li.list-group-item #[strong City:] #{headquarter.city}
                                                        li.list-group-item #[strong Country:] #{headquarter.country}
                                                        li.list-group-item #[strong State: ]
                                                                +icon-check(headquarter.state)
                                                        li.list-group-item #[strong Created at:] #{headquarter.createdAt}
                                                        li.list-group-item #[strong Updated at:] #{headquarter.updatedAt}
                                                if view.updateResource
                                                        a(href=`\\headquarters\\${headquarter.slug}\\edit`)
                                                                button(type="button").btn.btn-warning.btn-lg.py-2.float-right Edit
                        .row.mb-5
                                .col
                                        button(onclick="window.location.href='/headquarters'" type="button").btn.btn-success.btn-lg.btn-block Back
                        //message
                        if locals.message
                                .row
                                        h5.error-message #{locals.message.error}