extends ../layouts/main-inner

block main
    include ../layouts/mixins/utils.pug
    section.item-content
        .container 
            .row.m-3
                h1.text-center.font-weight-bold Edit Asset
            .row 
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    form(id="formulario" action=`/assets/${asset.storeId}?_method=PUT` method="POST").p-4
                        .form-group.md-form
                            input(type="text", name="name" value=asset.name required).form-control
                            label(for="name") Name
                        .form-group.md-form
                            input(type="text", name="brand" value=asset.brand required).form-control
                            label(for="brand") Brand
                        .form-group.md-form
                            input(type="text", name="model" value=asset.model required).form-control
                            label(for="model") Model
                        .form-group.md-form
                            input(type="text", name="serial" value=asset.serial required).form-control
                            label(for="serial") Serial
                        .form-group.md-form
                            input(type="date" name="purchaseDate" value=asset.purchaseDate.toISOString().slice(0, 10) required).form-control
                            label(for="purchaseDate") Purchase Date
                        .form-group.md-form
                            input(type="number", name="amount" min="1" step="any" value=asset.amount required).form-control
                            label(for="amount") Amount
                        .form-group.md-form
                            span Department
                            select(name="department" data-before=asset.departmentId required)#departments-select.custom-select
                                option(disabled) Choose option
                        .form-group.md-form
                            span Room
                            select(name="room" data-before=asset.roomId required)#rooms-select.custom-select
                                option(disabled) Choose option
                        .form-group.md-form
                            input(type="text", name="siigoCode" value=asset.siigoCode required).form-control
                            label(for="siigoCode") Siigo Code
                        .form-group.md-form
                            textarea(name="description" rows='3' required).md-textarea.form-control= asset.description
                            label(for="description") description
                        .form-group.md-form
                            span State
                            select(name="state" required).custom-select
                                option(disabled) Choose option
                                +last-state-select(asset.state)
                        .form-group.md-form
                            button(type="submit").btn.btn-amber Edit
            .row.my-2
                .col
                    a(href='/assets')
                        button(type="button").btn.btn-danger Cancel
            //message
            if message
                .row
                    h5.text-center.error-message #{message}