extends ../layouts/main-inner

block main
    -let view = locals.permissions.find( item => item.place === 'assets' );
    include ../layouts/mixins/utils.pug
    section#table-container
        .container
            .row.m-3
                h1.font-weight-bold Assets
            .row.mt-5
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    table(cellspacing="0" width="100%")#indexTable.table.table-hover.table-sm
                        thead.black.white-text
                            tr
                                th(scope='col') Name
                                th(scope='col') Room
                                th(scope='col') Brand
                                th(scope='col') Model
                                th(scope='col') Serial
                                th(scope='col') Bar Code
                                th(scope='col') Purchase Date
                                th(scope='col') State
                                if view.updateResource
                                    th(scope='col') Edit
                        tbody
                            each asset in assets
                                tr(data-href=`\\assets\\${asset.storeId}`).clickable-row
                                    th(scope='row')= asset.name
                                    td= asset.room.name
                                    td= asset.brand
                                    td= asset.model
                                    td= asset.serial
                                    td= asset.storeId
                                    td= new Intl.DateTimeFormat('en-US').format(asset.purchaseDate)
                                    td
                                        +icon-check(asset.state)
                                    if view.updateResource
                                        td
                                            a(href=`\\assets\\${asset.storeId}\\edit`)
                                                button(type="button").btn.btn-warning.py-1.px-2.m-0
                                                    span(aria-hidden="true").far.fa-edit
            .row.my-2
                if view.readResource
                    .col
                        button(type="button" onClick="exportCSVFile('assets')").btn.btn-amber.btn-lg Export .CSV
                .col
                    a(href="/assets/new")
                        button(type="button").btn.btn-success.btn-lg.float-right New Asset
            //message
            if locals.message.error
                .row
                    h5.text-center.error-message #{locals.message.error}