extends ../layouts/main-inner

block main
    -let view = locals.permissions.find( item => item.place === 'departments' );
    section.item-content
        .container 
            .row.m-3
                h1.font-weight-bold New Asset
            .row 
                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                    form(action='/assets' method="POST").p-4.md-form
                        .form-group.md-form
                            input(type="text", name="name" required autofocus).form-control
                            label(for="name") Name
                        .form-group.md-form
                            input(type="text", name="brand" required).form-control
                            label(for="brand") Brand
                        .form-group.md-form
                            input(type="text", name="model" required).form-control
                            label(for="model") Model
                        .form-group.md-form
                            input(type="text", name="serial" required).form-control
                            label(for="serial") Serial
                        div(class="md-form ").form-group
                            input(type="date" name="purchaseDate" required).form-control
                            label(for="purchaseDate") Purchase Date
                        .form-group.md-form
                            input(type="number", name="amount" min="1" step="any" required).form-control
                            label(for="amount") Amount
                        .form-group.md-form
                            span Department
                            select(name="department" required)#departments-select.custom-select
                                option(disabled) Choose option
                        .form-group.md-form
                            span Room
                            select(name="room" required)#rooms-select.custom-select
                                option(disabled) Choose option
                        .form-group.md-form
                            input(type="text", name="siigoCode" required).form-control
                            label(for="siigoCode") Siigo Code
                        .form-group.md-form
                            textarea(name="description" rows="3" required).md-textarea.form-control
                            label(for="description") Description
                        .form-group.md-form
                            button(type="submit").btn.btn-success Create
            .row.my-2
                .col
                    a(href='/assets')
                        button(type="button").btn.btn-danger Cancel
            //message
            if message
                .row
                    h5.text-center.error-message #{message}