extends ../layouts/main-inner

block main
        -let view = locals.permissions.find( item => item.place === 'assets' );
        include ../layouts/mixins/utils.pug
        section.item-content
                .container
                        .row.m-3
                                h1.font-weight-bold Asset
                        .row.mt-5
                                .col.shadow-lg.p-3.mb-3.bg-white.rounded
                                        h2.ms-5 Details
                                        div.item-content
                                                ul.list-group.py-3
                                                        li.list-group-item #[strong ID:] #{asset.id}
                                                        li.list-group-item #[strong Name:] #{asset.name}
                                                        li.list-group-item #[strong Bar Code:] 
                                                                a(href="javascript:{}" class="link" data-toggle="modal" data-target="#barcode-modal")= asset.storeId
                                                        li.list-group-item #[strong Brand:] #{asset.brand}
                                                        li.list-group-item #[strong Model:] #{asset.model}
                                                        li.list-group-item #[strong Serial:] #{asset.serial}
                                                        li.list-group-item #[strong Purchase Date:] #{asset.purchaseDate}
                                                        li.list-group-item #[strong Amount:] $ #{asset.amount}
                                                        li.list-group-item #[strong Department:] #{asset.departmentId} - #{asset.department.name}
                                                        li.list-group-item #[strong Room:] #{asset.roomId} - #{asset.room.name}
                                                        li.list-group-item #[strong Updated By:] #{asset.user.username}
                                                        li.list-group-item #[strong Siigo Code:] #{asset.siigoCode}
                                                        li.list-group-item #[strong Description:] #{asset.description}
                                                        li.list-group-item #[strong State: ] 
                                                                +icon-check(asset.state)
                                                        li.list-group-item #[strong Created At:] #{asset.createdAt}
                                                        li.list-group-item #[strong Updated At:] #{asset.updatedAt}
                                                
                                                if view.updateResource
                                                        a(href=`\\assets\\${asset.storeId}\\edit`)
                                                                button(type="button").btn.btn-warning.btn-lg.py-2.float-right Edit
                        .row.mb-5
                                .col
                                        button(onclick="window.location.href='/assets'" type="button").btn.btn-success.btn-lg.btn-block Back
                        //message
                        if locals.message
                                .row
                                        h5.error-message #{locals.message.info}
        //Modal
        div(tabindex="-1" role="dialog" aria-labelledby="BarCodeModalLabel" aria-hidden="true")#barcode-modal.modal.fade
                div(role="document").modal-dialog.modal-md
                        //Modal content
                        .modal-content
                                .modal-header
                                        h4#BarCodeModalLabel.modal-tittle BAR CODE
                                        button(type="button" data-dismiss="modal" aria-label="Close" class="close")
                                                span(aria-hidden="true").fas.fa-times
                                .modal-body.mx-auto.print-container
                                        canvas(data-barcode=asset.storeId)#barcode
                                        p= asset.storeId
                                .modal-footer
                                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
                                        button(type="button" onclick="window.print();" class="btn btn-primary") Print